.side-panel h3 {
  margin-top: 26px;
}

.list-header {

  color: gray;
  font-weight: bold;
  padding-left: 12px;

}

ul.list {
    
  list-style: inside none none;
  margin-top: 10px;
  margin-left: -40px;
  max-height: 480px;
  overflow-x: hidden;
  overflow-y: hidden;

}

.list li {

  border: 1px solid lightgray;
  border-top: none;
  padding: 15px;
  margin-right: 10px;
  cursor: pointer;

}

.list li:hover {

  background-color: rgba(150, 150, 150, 0.25);

}

.list li.selected {

  background-color: rgba(160, 230, 160, 0.25);

}

.list li:first-child {
  border-top: 1px solid lightgray;
  border-radius: 5px 5px 0px 0px;
}

.list li:last-child {
  border-radius: 0px 0px 5px 5px;
}

div.annotation {
  padding-left: 10px;
  padding-right: 10px;
}

label.label {
  display: inline-block;
  padding-top: 10px;
  padding-left: 0px;
  font-size: 100%;
}

label.label > span {
  font-weight: bold;
  font-size: 0.651em;
  color: rgba(100, 100, 100, 0.6);
  padding: 0 0 0 0;
  text-transform: uppercase;
}

label.label > a {
  color: silver;
  margin-left: 10px;
  vertical-align: sub;
}

.annotation .property {
  /*border-bottom: 1px solid lightgray;*/
  padding-bottom: 10px;
}

.annotation div.property {
  border-bottom: 1px solid lightgray;
}

.annotation .property-bold {
  font-weight: bold;
}

.feature-marker {
  font-size: 30px;
  color: #337ab7;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; 
}

.feature-marker-commented {
  color: silver;
}

.feature-marker-valid {
  color: limegreen;
}

.feature-marker-for-deletion {
  color: firebrick;
}

.feature-marker-selected {
  color: gold;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; 
}

.legend span.feature-marker {
  vertical-align: middle;
}

.sub {
  color: darkgray;
  font-size: 10pt;
  margin-bottom: 10px;
}

.sub p {
  margin-bottom: 0px;
}

.colophon {
  color: gray;
  font-size: 10pt;
}

