ul.list {
    
  list-style: inside none none;
  margin-top: 25px;
  margin-left: -40px;
  max-height: 480px;
  overflow-x: hidden;
  overflow-y: hidden;

}

.list li {

  border: 1px solid lightgray;
  border-top: none;
  padding: 15px;
  margin-right: 10px

}

.list li:hover {

  background-color: lightgray;

}

.list li:first-child {
  border-top: 1px solid lightgray;
  border-radius: 5px 5px 0px 0px;
}

.list li:last-child {
  border-radius: 0px 0px 5px 5px;
}