{% extends 'flask_user/emails/base_message.html' %}

{% block message %}

<p>Nous avons bien reçu votre demande de réinitialisation de votre mot de passe pour l'application {{ appName }}.</p>

<p>Si vous êtes bien à l'origine de cette demande, suivez le lien ci-dessous pour modifier votre mot de passe :<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ reset_password_link }}">Réinitialiser mon mot de passe</a>.</p>

<p>Si vous n'êtes pas à l'inititative de cette demande, vous pouvez simplement ignorer ce message.</p>

{% endblock %}